footer
    ul.social
        li
            a(href="https://twitter.com/daga_kotowaru2" target="_blank")
                i.fab.fa-twitter
        li
            a(href="https://github.com/TenzenIga" target="_blank")
                i.fab.fa-github
        li
            a(href="https://vk.com/zeta93162" target="_blank")
                i.fab.fa-vk